<form action="/artists" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

  <label>
    Name:
    <input type="text" name="name" />
  </label>

  <label>
    Genre:
    <input type="text" name="genre" />
  </label>

  <label>
    Photo URL:
    <input type="url" name="photo_url" />
  </label>

  <button>Add Artist</button>
</form>