<h2>Welcome <%= @user.first_name %>!</h2>

<p><a href="/users/<%= @user.id %>/edit">Edit My Info</a></p>
<form method="POST" action="/users/<%= @user.id %>">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>" />
  
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete My Account</button>
</form>