<div class="playlist">
  <h3><%= @playlist.title %></h3>
  <ul class="songs">
    <% @playlist.songs.each do |song| %>
      <li><%= render partial: 'songs/song', locals: { song: song } %></li>
    <% end %>
  </ul>
</div>